<?xml version="1.0"?>
<launch>
    <arg name="cam_num" default="3"/>
    <include file="$(find kuka_cam)/launch/individual_cam.launch">
        <arg name="cam_num" value="$(arg cam_num)"/>
        <arg name="load_tf" value="true"/>
    </include>
    <include file="$(find kuka_cam)/launch/individual_cam.launch">
        <arg name="cam_num" value="$(arg cam_num)"/>
        <arg name="load_tf" value="false"/>
    </include>
    <node pkg="lcsr_tf_tools" type="interactive_transform_publisher" name="lcsr_tf_pub_cam_$(arg cam_num)" 
        args= "$(eval
            env('base_cam_x_pos') + ' ' +
            env('base_cam_y_pos') + ' ' +
            env('base_cam_z_pos') + ' ' +
            env('base_cam_x_rot') + ' ' +
            env('base_cam_y_rot') + ' ' +
            env('base_cam_z_rot') + ' ' +
            env('base_cam_w_rot') + ' ' +
            '/world /base_cam_link rate=10'
        )"
    />
    <param name="cam_3_on" type="bool" value="true" />
</launch>
