<?xml version="1.0"?>
<launch>
    <arg name="cam_num" default="1"/>
    <arg name="targ_x" default="0.0" />
    <arg name="targ_y" default="0.0" />
    <arg name="targ_z" default="0.0" />
    <!-- Printed on AR Tag sheet -->
    <arg name="marker_size" default="11.4" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="num_iterations" default="300" />
    <arg name="cam_image_topic" default="$(eval '/cam_' + str(cam_num) + '/color/image_raw')" />
    <arg name="cam_info_topic" default="$(eval '/cam_' + str(cam_num) + '/color/camera_info')" />
    <arg name="output_frame" default="$(eval '/cam_' + str(cam_num) + '_color_optical_frame')" />
    <arg name="serial_no_camera" default="$(eval env('CAM_' + str(cam_num) + '_SERIAL'))" />
    <arg name="rviz" default="true"/>

    <node name = "calibration_node" pkg="kuka_calib" type="extrinsic_calibration_node" output="screen" required="true">
        <param name="targ_x"         type="double" value="$(arg targ_x)"/>
        <param name="targ_y"         type="double" value="$(arg targ_y)"/>
        <param name="targ_z"         type="double" value="$(arg targ_z)"/>
        <param name="num_iterations" type="int"    value="$(arg num_iterations)" />
        <param name="camera_link"    type="string" value="$(arg output_frame)" />
    </node>

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
        <param name="marker_size"           type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
        <param name="output_frame"          type="string" value="$(arg output_frame)" />

        <remap from="camera_image"  to="$(arg cam_image_topic)" />
        <remap from="camera_info"   to="$(arg cam_info_topic)" />
    </node>

</launch>
